/**
***     from 1025px
***       to 2560px
**/

/******************** Home Style *************************/



/******************* End Home Style **********************/

/******************** About Style ************************/



/******************* End About Style *********************/

/******************* Portfolio Style *********************/



/****************** End Portfolio Style ******************/

/******************** Contact Style **********************/

#contact .content .contact-form {
    width: 15rem;
    height: 26rem;
    transform: translate(-17%,-125%);
}

/******************* End Contact Style *******************/
